#header {
    background-color: bisque;
    margin: 50px 0px  50px 0px;
    font-family: 'Hubballi', sans-serif;
}

#nomeDoTitulo {
    background-color: white;
    width: 400px;
    text-align: center;
    margin: 0px auto;
}

h1, h2, h3 {
    text-transform: uppercase;
    margin: 0;
}

#contact{
    list-style-type: none;
}

#contact i {
    width: 30px;
    color: bisque;
}

#container {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px; 
}

#sidebar, #content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.card h3 {
    font-family: 'Hubballi', sans-serif;
}
.card {
    font-family: "Montserrat", sans-serif;
    border: solid 1px grey;
    border-radius: 15px;
    padding: 20px;
}